<fieldset>
	<div class="input-group">
		<%= f.label :name, "Company Name", class: "input-group-addon" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove", '#', class: "remove_field" %>
</fieldset>	