<div class="container">
	<h2>Tagged "<%= @tag.name %>"</h2>
	<h3>Pins</h3>
	<%= render partial: 'pins/pins', locals: {pins: @tag.pins } %>
	<%= render partial: 'shared/stats_pins', locals: {pins: @tag.pins } %>
</div>