<div class="container">

  <h1>Top 3 Boards with most pins</h1>
  <%= render partial: "boards", locals: {boards: @most_pins} %>

  <h1><%= pluralize(@boards.count, "Board") %></h1>
  <%= render partial: "boards", locals: {boards: @boards} %>

</div>

