<p>Well done <%= current_user.email %></p>
<h1>Start by setting your Account</h1>
<p>Create an account to be able to invite other users into your space.</p>

<p>Hidden nested field for current user_id</p>
<p>Fields to send invitations and add unregistered users</p>